.user-search-card {
    display: flex;
    height: fit-content;
}

.user-search-card-logo {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    display: block;
}

.user-search-card-info {
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

.user-search-card-username {
    font-size: 12px;
    text-align: center;
    color: #9A9999;

    margin-top: 5px;
}

.user-search-card-icons-list {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.user-search-card-icon {
    display: inline-block;
}

.user-search-card-icon-image {
    width: auto;
    height: 25px;

    margin-left: auto;
    margin-right: auto;

    display: block;
}

.user-search-card-icon-text {
    font-size: 12px;
    width: 100%;
    text-align: center;

    margin-top: 5px;
}